{% extends "base.html" %}

{% block title %}{% block head_title %} Employees{% endblock %}{% endblock title %}

{% block content %}
<h1>Listado de Empleados</h1>

{% include 'employees/add_form.html' with form=form %}
<table class="table table-hover">
  <thead>
    <th>Nombre</th>
    <th>Número</th>
    <th>Rol</th>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
      <td>{{ employee.name }}</td>
      <td>{{ employee.id|stringformat:"04d" }}</td>
      <td>{{ employee.get_role_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}