{% extends "base.html" %}

{% block title %}{% block head_title %} Employees{% endblock %}{% endblock title %}

{% block content %}
<h1>Listado de Empleados</h1>

<div class="d-flex flex-row-reverse">
  <button type="button" class="btn btn-success">Agregar</button>
</div>
<table class="table table-hover">
  <thead>
    <th>Nombre</th>
    <th>Número</th>
    <th>Rol</th>
  </thead>
  <tbody>
    <tr>
      <td>Gilberto Ramirez</td>
      <td>0001</td>
      <td>Chofer</td>
    </tr>
  </tbody>
</table>
{% endblock %}